h1{
    text-align: Center;
    text-decoration: underline;
    font-weight: 100;
    font-weight: bolder;
    color: aliceblue;
    background-color: black;
    border-style: solid;
    border-width: 3px;
    border-color: darkslategray;
    width: 200px;
}

p{
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    line-height: 25px;
    background-color: chocolate;
    text-transform: lowercase;
}

body{
    color: aliceblue;
    background-color: black;
}

h2{
    text-align: center;
    text-transform: capitalize;
    font-family: 'Times New Roman';
}
#outer {
    font-size: 25px;
}

#inner {
    font-size: 10px;
}
/* div {
    background-color: blueviolet;
    height: 50px;
    width: 50px;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 2px;
    text-align: center;
    border-radius: 50%;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px; */

/* } */

h4 {
    /* text-align: center; */
    border: 3px, solid, whitesmoke;
    width: 150px;
    background-color: darkslategray;
    border-radius: 10px;
    padding: 10px 12px 14px 16px;
    margin-top: 25px;
} 

div {
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    /* text-align: center;
    padding-top: 3%;
    border-style: solid;
    border-color: blueviolet;
    text-transform: uppercase;
    margin-left: 20px; */
}
