body {
    text-align: center;
}
div {
    height: 100px;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
}
#container {
    height: 300px;
    width: 700px;
    text-align: center;
    display: flex;
    /* flex-direction: row-reverse; */
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
#box1 {
    background-color:blueviolet;
}
#box2 {
    background-color: darkblue;
}
#box3 {
    background-color: darkgreen;
}
#box4 {
    background-color: darkmagenta;
}
#box5 {
    background-color: darkslateblue;
}
