#box1 {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    font-size: 10px;
}
#box2 {
    height: 100px;
    width: 30%;
    background-color: cadetblue;
    margin-left: 30%;
    font-size: 2em;
    /* width: 5em; */
    width: 10rem;
  
} 
body {
    font-size: 10px;
}
#block1 {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    font-size: 10px;
}
#block2 {
    height: 100px;
    /* width: 50%; */
    background-color: darkblue;
    width: 5rem;
    font-size: 2em;
    /* height: 100vh;
    width: 100vw; */
}