div {
    height: 150px;
    width: 150px;
    background-color: black;
}
@media (width: 700px) {
    div 
    {
        background-color: purple;
    }  
}
@media (max-width: 500px) {
    div {
        background-color: darkmagenta;
    }
}
@media (max-width : 490) {
    div {
        background-color: darkslategrey;
    }
}
 @media (min-width: 500) and (max-width: 700) {
    div {
        background-color: navy;
    }
 }