h1{
    background-color:black;
    color: aliceblue;
    text-align: center;
    text-decoration: underline crimson;
    border: 3px;
    border-color: aliceblue;
    box-sizing: border-box;
    width: 200px;
    text-align: center;
    border: 3px;
    border-color: aliceblue;
    border-radius: 3px;
    border-style: solid;
    margin: 0 auto;
}
p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:darkmagenta;
    text-align: center;
    line-height: 20px;
    font-size: medium;
    font-style: oblique;
    font-weight: 200px;
    border: 10px;
    border-color: black;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}
body {
    background-color:navy;
    text-align: center;
}
