/* div {
    height: 100px;
    width: 100px;
    background-color: cornflowerblue;
    border: 2px solid black;
    display: inline-block;
    position: static;
    position: relative;
    top: 2px;
}
#box1 {
     position: static;
     top: 20px;

}
#box2 {
    position: relative;
    left: 20px;
}
#box3 {
    position: absolute;
    right: 90px;
    top: 80px;
}
#box4 {
    position: fixed;
    left: 250px;
    top: 80px;
    bottom: 0; 
} */

/* 
#box1 {
    height: 100px;
    width: 100px;
    background-color: darkslategray;
    border: 2px solid black;
    position: fixed;
    top: 0;
}
#box2 {
    height: 100px;
    width: 100px;
    background-color: darkslategray;
    border: 2px solid black;
    position: sticky;
    left: 150px;
    top: 0px;

} */

div {
    height: 100px;
    width: 100px;
    background-color: darkblue;
    border: 2px solid black;
    display: inline-block;
}
#box1 {
    position: static;
}
#box2 {
    position: relative;
    top: 10px;
    z-index: -1;
    left: 50px
}
#box3 {
    position: absolute;
    right: 10px;
}
#box4 {
    position: fixed;
    bottom: 100px;
}
#box5 {
    position: sticky;
    top: 0;
    z-index: 1;
}
