div {
    height: 100px;
    width: 100px;
    border: 7px solid #4ECDC4;
    border-top: 7px solid yellow;
    border-radius: 50%;
    animation: spinanimate 2s ease 0s infinite normal;
}
@keyframes spinanimate {
    from
     {
        transform: rotate(0deg);
    }
    to 
    {
        transform: rotate(360deg);
    }
}